In [22]:
from sklearn.datasets import load_diabetes, load_linnerud
import pandas as pd

diabetes_data = load_diabetes(as_frame=True)
linnerud_data = load_linnerud(as_frame=True)

diabetes_df = pd.concat([diabetes_data['data'], diabetes_data['target']], axis=1)
linnerud_df = pd.concat([linnerud_data['data'], linnerud_data['target']], axis=1)

print("наш датасет:")
display(diabetes_df.head())

наш датасет:

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,target
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019907,-0.017646,151.0
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068332,-0.092204,75.0
2,0.085299,0.050680,0.044451,-0.005670,-0.045599,-0.034194,-0.032356,-0.002592,0.002861,-0.025930,141.0
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022688,-0.009362,206.0
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031988,-0.046641,135.0

In [23]:
#изучаем наши данные 

print("Linnerud")
display(linnerud_df.head())

print("вывели описание")
display(diabetes_df.describe())

display(linnerud_df.describe())

Linnerud

   Chins  Situps  Jumps  Weight  Waist  Pulse
0    5.0   162.0   60.0   191.0   36.0   50.0
1    2.0   110.0   60.0   189.0   37.0   52.0
2   12.0   101.0  101.0   193.0   38.0   58.0
3   12.0   105.0   37.0   162.0   35.0   62.0
4   13.0   155.0   58.0   189.0   35.0   46.0

вывели описание

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,target
count,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,442.000000
mean,-2.511817e-19,1.230790e-17,-2.245564e-16,-4.797570e-17,-1.381499e-17,3.918434e-17,-5.777179e-18,-9.042540e-18,9.293722e-17,1.130318e-17,152.133484
std,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,77.093005
min,-1.072256e-01,-4.464164e-02,-9.027530e-02,-1.123988e-01,-1.267807e-01,-1.156131e-01,-1.023071e-01,-7.639450e-02,-1.260971e-01,-1.377672e-01,25.000000
25%,-3.729927e-02,-4.464164e-02,-3.422907e-02,-3.665608e-02,-3.424784e-02,-3.035840e-02,-3.511716e-02,-3.949338e-02,-3.324559e-02,-3.317903e-02,87.000000
50%,5.383060e-03,-4.464164e-02,-7.283766e-03,-5.670422e-03,-4.320866e-03,-3.819065e-03,-6.584468e-03,-2.592262e-03,-1.947171e-03,-1.077698e-03,140.500000
75%,3.807591e-02,5.068012e-02,3.124802e-02,3.564379e-02,2.835801e-02,2.984439e-02,2.931150e-02,3.430886e-02,3.243232e-02,2.791705e-02,211.500000
max,1.107267e-01,5.068012e-02,1.705552e-01,1.320436e-01,1.539137e-01,1.987880e-01,1.811791e-01,1.852344e-01,1.335973e-01,1.356118e-01,346.000000

           Chins      Situps      Jumps      Weight      Waist      Pulse
count  20.000000   20.000000   20.00000   20.000000  20.000000  20.000000
mean    9.450000  145.550000   70.30000  178.600000  35.400000  56.100000
std     5.286278   62.566575   51.27747   24.690505   3.201973   7.210373
min     1.000000   50.000000   25.00000  138.000000  31.000000  46.000000
25%     4.750000  101.000000   39.50000  160.750000  33.000000  51.500000
50%    11.500000  122.500000   54.00000  176.000000  35.000000  55.000000
75%    13.250000  210.000000   85.25000  191.500000  37.000000  60.500000
max    17.000000  251.000000  250.00000  247.000000  46.000000  74.000000

In [24]:
from sklearn.model_selection import train_test_split

X_diabetes = diabetes_df.drop(columns=['target'])
y_diabetes = diabetes_df['target']
X_linnerud = linnerud_df.drop(columns=['Weight', 'Waist', 'Pulse'])
y_linnerud = linnerud_df[['Weight', 'Waist', 'Pulse']]

X_train_d, X_test_d, y_train_d, y_test_d = train_test_split(X_diabetes, y_diabetes, test_size=0.2, random_state=42)
X_train_l, X_test_l, y_train_l, y_test_l = train_test_split(X_linnerud, y_linnerud, test_size=0.2, random_state=42)

In [25]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import mean_squared_error, r2_score

def train_and_evaluate(model, X_train, X_test, y_train, y_test):
    model.fit(X_train, y_train)
    predictions = model.predict(X_test)
    mse = mean_squared_error(y_test, predictions)
    r2 = r2_score(y_test, predictions)
    return mse, r2

models = {
    "KNeighborsRegressor": KNeighborsRegressor(),
    "LinearRegression": LinearRegression(),
    "Ridge": Ridge(),
    "Lasso": Lasso()
}

parameters = {
    "KNeighborsRegressor": {"n_neighbors": [3, 5, 7]},
    "Ridge": {"alpha": [0.1, 1.0, 10.0]},
    "Lasso": {"alpha": [0.1, 1.0, 10.0]}
}

results = []

In [26]:
for model_name, model in models.items():
    if model_name in parameters:
        grid = GridSearchCV(model, parameters[model_name], scoring='r2', cv=5)
        grid.fit(X_train_d, y_train_d)
        best_model = grid.best_estimator_
    else:
        best_model = model
    mse, r2 = train_and_evaluate(best_model, X_train_d, X_test_d, y_train_d, y_test_d)
    results.append((model_name, "Diabetes", mse, r2))

In [27]:
for model_name, model in models.items():
    if model_name in parameters:
        grid = GridSearchCV(model, parameters[model_name], scoring='r2', cv=5)
        grid.fit(X_train_l, y_train_l)
        best_model = grid.best_estimator_
    else:
        best_model = model
    mse, r2 = train_and_evaluate(best_model, X_train_l, X_test_l, y_train_l, y_test_l)
    results.append((model_name, "Linnerud", mse, r2))
    
results_df = pd.DataFrame(results, columns=["Model", "Dataset", "MSE", "R2 Score"])
display(results_df)

                 Model   Dataset          MSE  R2 Score
0  KNeighborsRegressor  Diabetes  2986.975006  0.436223
1     LinearRegression  Diabetes  2900.193628  0.452603
2                Ridge  Diabetes  2856.486888  0.460852
3                Lasso  Diabetes  2798.193485  0.471855
4  KNeighborsRegressor  Linnerud   161.006803 -0.512425
5     LinearRegression  Linnerud   239.153672 -1.350412
6                Ridge  Linnerud   236.957916 -1.316082
7                Lasso  Linnerud   198.967177 -0.695127

In [28]:
best_models = results_df.sort_values(by=["Dataset", "R2 Score"], ascending=[True, False])
print("сравниваем модели:")
display(best_models.groupby("Dataset").first())

сравниваем модели:

                        Model          MSE  R2 Score
Dataset
Diabetes                Lasso  2798.193485  0.471855
Linnerud  KNeighborsRegressor   161.006803 -0.512425